<% provide(:title, 'Heatmap') %>
<%= stylesheet_link_tag 'tests' %>
<div class= "row">
  <h2>Heatmap of <%= link_to @student.code_name.titleize, student_path(params[:student_id]) %></h2>
</div>
<div class= "row">
  <h4><%= link_to 'Results', student_result_of_test_path(params[:student_id], params[:result_id]) %></h4>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= react_component('HeatmapTestingComponent',
                        render(file: 'result_of_tests/show_heatmap.json.jbuilder', format: :json))
    %>
  </div>
</div>
