/* line 4, /home/dmitry/Project/ThomasMoreProject/app/assets/stylesheets/tests.scss */
body {
  padding-top: 0px !important;
}

/* line 7, /home/dmitry/Project/ThomasMoreProject/app/assets/stylesheets/tests.scss */
#header_id {
  display: none !important;
}

/* line 10, /home/dmitry/Project/ThomasMoreProject/app/assets/stylesheets/tests.scss */
#cur_image {
  width: 70%;
  height: 70%;
}

/* line 14, /home/dmitry/Project/ThomasMoreProject/app/assets/stylesheets/tests.scss */
#btn_qm {
  width: 70%;
  height: 70%;
}

/* line 18, /home/dmitry/Project/ThomasMoreProject/app/assets/stylesheets/tests.scss */
.panel-body {
  background-color: #99FFCC;
}
