<% if not @user.nil? and @user.errors.any? %>
    <div class="row">
    	<div class="col-sm-offset-2 col-sm-6">
		    <div class="alert alert-danger" role="alert">
			    <ul>
				  <% translate_errors(@user.errors, @user).each do |msg| %>
            <li><%= msg %></li>
			    <% end %>
			    </ul>
		  	</div>
	  	</div>
  	</div>
<% end %>
