<% unless @user.nil? %>
<table>
		<tr>
			<td>Name:</td>		
			<td><%= "#{@user.name}" %></td>
		</tr>
		<tr>
			<td>Last Name:</td>		
			<td><%= "#{@user.last_name}" %></td>
		</tr>
		<tr>
			<td>Phone:</td>		
			<td><%= "#{@user.phone}" %></td>
		</tr>
		<tr>
			<td>Mail:</td>		
			<td><%= "#{@user.mail}" %></td>
		</tr>
		<% unless @user.is_mail_confirmed %>
		<tr>
			<td rowspan="2">Please, confirm your mail.<td>
		</tr>
		<% end %>
</table>
<% end %>
