<% unless @user_info.nil? %>
	<% provide(:title,"Profile") %>
	<table align="center" border="3">
		<% @user_info.each do |element|%>
			<tr>
				<td><%= element[0] %></td>		
				<td><%= element[1] %></td>
			</tr>
		<% end %>
	</table>
<% end %>

