<% unless @user_info.nil? %>
	<% provide(:title,"Profile") %>
	<div class="col-sm-4">
		<h1>Profile</h1>
		<table class="table table-hover">
			<% @user_info.each do |element|%>
				<tr>
					<td><h4><%= element[0].to_s.humanize %></h4></td>		
					<td><h4><small><%= element[1].to_s.humanize %></small></h4></td>
				</tr>
			<% end %>
		</table>
	</div>
<% end %>

