<% unless @user_info.nil? %>
	<% provide(:title, tf('common.menu.profile')) %>

  <div class="col-sm-4">
		<h1><%= tf('common.menu.profile') %></h1>
		<table class="table table-hover">
			<% @user_info.each do |field_name, value|%>
				<tr>
					<td><h4><%= field_name %></h4></td>
					<td><h4><small><%= value %></small></h4></td>
				</tr>
			<% end %>
		</table>
	</div>
<% end %>

