<% provide(:title, tf('entities.clients.create')) %>
<%= javascript_include_tag 'clients' %>
<h1 class="row col-sm-offset-4"><%= tf('entities.clients.create') %></h1>
<%= render partial: 'clients/form' %>
