<div class="row">
	<%= render "shared/profile" %>
</div>
<% if is_super? || session[:user_type] == 'administrator' && @user.administrator_id == session[:type_id] %>
	<div class="row">
		<div class="btn-group col-sm-4" role="group" aria-label="...">
			<%= link_to("Edit", edit_mentor_path(params[:id]), class: "btn btn-warning") %>
			<%= link_to("Delete", delete_mentor_path(params[:id]), class: "btn btn-danger") %>
		</div>
	</div>
<% end %>
