<% provide(:title, tf('testing_process.finish_page')) %>

<h1 style="text-align: center"><%= tf('testing_process.congrats') %></h1>

<% if @interest.first.present? %>
  <%= render partial: 'testing_process/finish/top_rated_interests',
             locals: {
                 h2_title: tf('testing_process.most_rated'),
                 top_rated_interest_name: @interest.first,
                 more_details_link: true,
                 top_rated_pics: @top_rated_pics
             }
  %>

<% end %>

<% if @interest.second.present? %>
  <%= render partial: 'testing_process/finish/top_rated_interests',
             locals: {
                 h2_title: tf('testing_process.most_second_rated'),
                 top_rated_interest_name: @interest.second,
                 more_details_link: false,
                 top_rated_pics: @second_rated_pics
             }
  %>
<% end %>
