<li>
  <%= link_to_unless current_page.last?,
                     "#{tf('common.kaminari.next')} ›",
                     url,
                     rel: 'next',
                     remote: remote
  %>
</li>
