/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "testing";
@import "margin_generators";

$state-danger-text: black;

body {
  padding-top: 60px;
  font-family: Calibri, Tahoma, Arial, Verdana, sans-serif;
}
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: #AC5B90;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  background-color: transparent !important;
  display: block !important;
  .form-control {
    color: $state-danger-text;
  }
}

.margin-auto {
  margin: auto;
}
p.big {
  font-size: 16px;
  line-height: 1.2;
}

.alert-notice {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}
.alert-alert {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.margin-top-20 {
  margin-top: 20px;
}
