.testing-container {
  margin: 1% 2% 2% 2% !important;
}

.exit-btn {
  position: absolute;
  z-index: 10;
}

.crop-image {
  max-height: 70vh;
  overflow: hidden;
}

.loader-block {
  padding-top: 15%
}

.loader {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  font-size: 50px;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
