// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 0px !important;
}
#header_id {
  display: none !important;
}
#cur_image{
  width: 70%;
  height: 70%;
}
#btn_qm {
  width: 70%;
  height: 70%;
}
.panel-body {
  background-color: #99FFCC;
}
