<p>Greetings <%= @user.last_name.titleize %> <%= @user.name.titleize %>,</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>With regards, AitScore.</p>
